* {
  font-synthesis: none !important;
}

@font-face {
    font-family: 'gothic_cg_no1';
    src: url('font/gothic_cg_no1.woff2') format('woff2'),
         url('font/gothic_cg_no1.woff') format('woff'),
         url('font/gothic_cg_no1.ttf') format('truetype'),
         url('font/gothic_cg_no1.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothic_cg_no4';
    src: url('font/gothic_cg_no4.woff2') format('woff2'),
         url('font/gothic_cg_no4.woff') format('woff'),
         url('font/gothic_cg_no4.ttf') format('truetype'),
         url('font/gothic_cg_no4.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'newmusicmachine';
  src: url('font/newmusicmachine.eot');
  src: url('font/newmusicmachine.eot?#iefix') format('embedded-opentype'),
       url('font/newmusicmachine.woff2') format('woff2'),
       url('font/newmusicmachine.woff') format('woff'),
       url('font/newmusicmachine.ttf') format('truetype'),
       url('font/newmusicmachine.svg#newmusicmachine') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sm64';
  src: url('font/sm64.eot');
  src: url('font/sm64.eot?#iefix') format('embedded-opentype'),
       url('font/sm64.woff2') format('woff2'),
       url('font/sm64.woff') format('woff'),
       url('font/sm64.ttf') format('truetype'),
       url('font/sm64.svg#newmusicmachine') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin-left: 3px;
  margin-right: 3px;
}

h1 {
    font-family: newmusicmachine, sans-serif;
    font-size: 46pt;
    color: #1c1c1d;
    line-height: 46pt;
    word-break: break-word;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h2 {
    font-family: itc-american-typewriter, serif;
    font-size: 6pt;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 36pt;
    word-break: break-all;
    font-weight:300
  }
  
  h3 {
    font-family: itc-american-typewriter, serif;
  }
  
  p {
    font-family: sm64, sans-serif;
    font-size: 40pt;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40pt;
    word-break: break-word;
  }

  p.body {
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 16pt;
    word-break: break-word;
  }

  p.price {
    font-family: newmusicmachine, sans-serif;
    font-size: 46pt;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 46pt;
    word-break: break-all;
    font-weight: 300;
    color: #64bc2a;
  }
  
  li {
    font-family: itc-american-typewriter, serif;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }

 button {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10pt;
 }
  
/** local links (green) **/
  .green:link {
    color: #64bc2a;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .green:hover {
    color: #64bc2a;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .green:visited {
    color: #64bc2a;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .green:active {
    color: #ff0000;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
/** social links (blue) **/
  .blue:link {
    color: #0015ff;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .blue:hover {
    color: #EA7218;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .blue:visited {
    color: #0015ff;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .blue:active {
    color: #ff0000;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
/** email link **/
  .email:link {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:hover {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:visited {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:active {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .content {
    position: static;
    max-width: 98vw;
  }

  #logotop {
    margin: auto;
    display: block;
    width: 600px;
    max-width: 98vw;
    padding-bottom: 10px;
    position: fixed;
    cursor: not-allowed;
  }

  #productpics {
    max-width: 98vw;
    display: block;
  }

  #backbut {
    margin-top: -20px;
    margin-bottom: -14px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: static;
    z-index: 1000;
  }

  #bagbuttons {
    color: #0015ff;
    background-color: none; 
    text-decoration: none;
    font-family: sm64, sans-serif;
    font-size: 40pt;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40pt;
    word-break: break-all;
    cursor: pointer;
  }

  #est {
    color: #a2b3a7;
    background-color: none; 
    text-decoration: none;
    font-family: sm64, sans-serif;
    font-size: 40pt;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40pt;
    word-break: break-all;
    cursor: not-allowed;
  }

  #estbox {
width: 600px;
height: 185px;
max-width: 98vw;
display: block;
  }

  div #body{
    margin-top: 46pt;
  }
  
  #bagbuttons:hover {
    color: #EA7218;
    background-color: none; 
    text-decoration: none;
  }
  
  #bagbuttons:active {
    color: rgb(255, 0, 0);
    background-color: none; 
    text-decoration: none;
  }

  #bagslash {
    color: black;
    background-color: none; 
    text-decoration: none;
    font-family: sm64, sans-serif;
    font-size: 36pt;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 36pt;
    word-break: break-all;
  }

  #version {
    color: rgb(176, 176, 176);
    position: absolute;
    z-index: -1000;
  }