h1 {
    font-family: itc-american-typewriter, serif;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h2 {
    font-family: itc-american-typewriter, serif;
  }
  
  h3 {
    font-family: itc-american-typewriter, serif;
  }
  
  p {
    font-family: itc-american-typewriter, serif;
    font-size: 36pt;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 36pt;
    word-break: break-all;
  }
  
  li {
    font-family: itc-american-typewriter, serif;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
/** local links (green) **/
  .green:link {
    color: #64bc2a;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .green:hover {
    color: #64bc2a;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .green:visited {
    color: #64bc2a;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .green:active {
    color: #ff0000;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
/** social links (blue) **/
  .blue:link {
    color: #0081ff;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .blue:hover {
    color: #0081ff;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .blue:visited {
    color: #0081ff;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .blue:active {
    color: #ff0000;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }

  /** orange fs link **/
  .orange:link {
    color: #EA7218;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .orange:hover {
    color: #EA7218;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .orange:visited {
    color: #EA7218;
    background-color: none; 
    text-decoration: none;
    border-radius: 5pt;
  }
  
  .orange:active {
    color: #ff0000;
    background-color: yellow; 
    text-decoration: none;
    border-radius: 5pt;
  }
  

  .logo {
    margin-left: -5px;
    margin-right: 3px;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  
/** email link **/
  .email:link {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:hover {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:visited {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:active {
    color: black;
    background-color: none; 
    text-decoration: none;
  }


  .logo {
    margin-left: -5px;
    margin-right: 3px;
    margin-top: -5px;
    margin-bottom: -7px;
  }
  
  .stamp {
    position: absolute;
    top: 30pt;
    left: 92pt;
    pointer-events: none;
    border: solid 2px transparent;
  }
  
  .content {
    position: static;
  }
  
  #stampcanvas {
    position: absolute;
    top: 0pt;
    left: 0pt;
    pointer-events: none;
    border: solid 2px;
  }
  
  #redstamp {
    transform: rotate(107deg);
  }

  #fav {
    margin-left: 5pt;
    margin-bottom: -1pt;
    border-radius: 2pt;
  }
  
  #fs {
    width: 48px;
    height: 56px;;
    margin-left: 0pt;
    margin-right: 5pt;
    margin-bottom: -1.7pt;
    border-radius: 2pt;
  }

  #version {
    color: lightgrey;
    font-weight: 300;
  }